include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include hitu *.css
recursive-include hitu *.csv
recursive-include hitu *.html
recursive-include hitu *.ico
recursive-include hitu *.js
recursive-include hitu *.json
recursive-include hitu *.md
recursive-include hitu *.png
recursive-include hitu *.py
recursive-include hitu *.svg
recursive-include hitu *.txt
recursive-exclude hitu *.pyc